/* Estilos generales */
body {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 20px;
}

/* Estilos de la caja */
.box {
    width: 400px; /* Ajusta según el tamaño deseado */
    height: 300px; /* Ajusta según el tamaño deseado */
    position: relative;
    background-size: cover; /* Asegúrate de que la imagen de fondo cubra toda la caja */
    margin-bottom: 20px; /* Espaciado debajo de la caja */
}

/* Imagen de la canción */
.song-image {
    width: 100%; /* Ajustar al 100% del contenedor */
    height: auto; /* Mantener la relación de aspecto */
    position: absolute; /* Para que la imagen esté sobre la caja */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Para centrar completamente */
}

/* Botones de navegación */
.nav-btn {
    font-size: 2em;
    cursor: pointer;
    color: white;
    margin: 0 20px; /* Espaciado entre los botones */
}

/* Título de la canción */
.song-title {
    color: yellow;
    margin: 10px 0;
}

/* Botón de descarga */
.download-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

.download-button:hover {
    background-color: darkblue;
}

/* Botón de regreso */
.back-button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

.back-button:hover {
    background-color: darkred;
}
