/* Estilos generales */
body {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* Contenedor general */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Caja dorada */
.box {
    width: 400px;
    height: 250px;
    border: 10px solid #d4af37; /* Borde dorado */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra */
    background: linear-gradient(145deg, #f5c542, #d4af37); /* Degradado dorado */
    border-radius: 10px;
    position: relative;
}

/* Manchas simuladas en las esquinas superiores */
.box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: rgba(150, 0, 0, 0.3); /* Simula una mancha oscura */
    border-radius: 50%;
    transform: rotate(-20deg);
}

.box:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: rgba(150, 0, 0, 0.3); /* Manchas en las esquinas inferiores */
    border-radius: 50%;
    transform: rotate(20deg);
}

/* Imagen dentro de la caja */
.freebox-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    transform: rotate(90deg);
}

/* Imagen de la canción */
.song-image {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    z-index: 2;
    border: 5px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos del título */
.song-title {
    color: yellow;
    margin: 20px 0 10px 0;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Botones de navegación */
.nav-btn {
    font-size: 2em;
    cursor: pointer;
    color: white;
    margin: 0 30px;
    transition: color 0.3s ease-in-out;
}

.nav-btn:hover {
    color: yellow;
}

/* Botón de descarga */
.download-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
}

.download-button:hover {
    background-color: darkblue;
}

/* Botón de regreso */
.back-button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
}

.back-button:hover {
    background-color: darkred;
}
